/* faster-one-regular - latin */
@font-face {
    font-family: 'Faster One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/faster-one-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Faster One'), local('FasterOne-Regular'),
         url('../fonts/faster-one-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/faster-one-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/faster-one-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/faster-one-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/faster-one-v11-latin-regular.svg#FasterOne') format('svg'); /* Legacy iOS */
  }