*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('../img/intro-bg.jpg');
    background-repeat: no-repeat;

}
.text{
  position: absolute;
  left: 36%;
  top: 40%;

}
.text>h1{
    color:#fff;
    background-color: transparent;
    font-size: 100px;
    font-family: 'Faster One';
}
.text>p{
    color:thistle;
    position: absolute;
    left: 20%;
    font-size: 20px;
}